@import "tailwindcss";

* {
  list-style-type: none;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f9fafb;
  --text-primary: #111827;
  --text-primary-rgb: 17, 24, 39;
  --text-secondary: #6b7280;
  --accent-primary: #3366cc;
  --accent-secondary: #2952a3;
  --accent-secondary-rgb: 243, 248, 254;
  --border-color: #d1d5db;
  --card-bg: #ffffff;
}

[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #1a1a1a;
  --text-primary: #e5e7eb;
  --text-primary-rgb: 229, 231, 235;
  --text-secondary: #9ca3af;
  --accent-primary: #bb8a2f;
  --accent-secondary: #a67a28;
  --accent-secondary-rgb: 37, 38, 42;
  --border-color: #374151;
  --card-bg: #1f1f1f;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
